* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.row-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form {
  display: flex;
  flex-direction: column;
}
.title,
.author {
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #545454;
}
.author {
  margin-left: 10px;
  flex-grow: 1;
}
.textarea {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #545454;
  resize: none;
  padding: 5px;
}
.button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  background-color: #545454;
  border: 1px solid #545454;
  color: #fff;
  transition: all 0.3s;
  margin-bottom: 30px;
}
.button:hover {
  background-color: #fff;
  border: 1px solid #545454;
  color: #545454;
}
.col {
  max-width: 500px;
}
.row {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
