* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 594px;
  margin: 0 auto;
}

ul[class] {
  list-style: none;
}

.header {
  margin-top: 80px;
  margin-bottom: 33px;
}
.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  text-align: center;
}

.todo {
  width: 594px;
  background: #ffffff;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  margin-bottom: 33px;
}
.todo__top {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
.todo__input {
  width: 356px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #54595E;
}
.todo__button {
  width: 166px;
  height: 39px;
  border: none;
  background-color: #272829;
  border-radius: 4px;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  transition: all 0.3s;
  cursor: pointer;
}
.todo__button:hover {
  background-color: #404243;
}
.todo__list {
  border-top: 1px solid #dee2e6;
  padding: 32px 24px;
}
.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21px;
}
.todo__item:not(:last-child) {
  margin-bottom: 26px;
}
.todo__box {
  display: flex;
  align-items: center;
}
.todo__task-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  margin-right: 16px;
  cursor: pointer;
}
.todo__input-edit {
  width: 450px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #54595E;
}
.todo__task-checkbox:checked ~ .todo__task-label {
  text-decoration: line-through;
  opacity: 0.5;
}
.todo__task-label {
  color: #54595E;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo__task-del, .todo__task-edit, .todo__task-edit-done {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 21px;
  height: 16px;
  transition: all 0.3s;
}
.todo__task-del:hover, .todo__task-edit:hover, .todo__task-edit-done:hover {
  font-size: 16px;
}
.todo__box-btn {
  width: 48px;
  display: flex;
  justify-content: space-between;
}
.todo__bottom {
  padding: 18px 24px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 16px 16px;
}
.todo__del-completed {
  background-color: #6C757D;
  border-radius: 4px;
  padding: 10px 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.todo__del-completed:hover {
  background-color: #545b62;
}
.todo__del-all {
  background-color: #DC3545;
  border-radius: 4px;
  padding: 10px 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.todo__del-all:hover {
  background-color: #bd2130;
}
.todo__hidden {
  display: none;
}/*# sourceMappingURL=index.css.map */